#nav-bar {
    background-color: $navbar-background-color;
    color: $navbar-font-color;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2em;
    z-index: 1;
    border-bottom: 5px solid #ccc;

    .brand-logo {
        float: left;
        width: 80px;
        height: 80px;
    }

    .brand-title {
        float: left;
        line-height: 80px;
        font-size: 2em;
        margin-left: 10px;
        font-weight: bold;
    }

    .nav-bar-buttons {
        float: right;
    }

    .tweet-compose {
        height: 50px;
        margin-top: 1em;
        opacity: 0.8;
    }
    
    .tweet-compose:hover {
        opacity: 1;
    }
}