/* Main  */
$main-background-color:     #eeeeee;
$main-text-color:           #244751;
$main-font-family:          'Roboto Condensed', sans-serif;

/* Nav Bar */
$navbar-background-color:   #00A087;
$navbar-font-color:         #E8FDFF;

/* Page Container */
$page-container-background-color:   #ffffff;

/* Error Styles */
$error-background-color:            #FF0000;

/* New Tweet */

/* Tweet */