/* Main  */
$main-background-color:             #333333;
$main-text-color:                   #244751;
$main-font-family:                  'Roboto Condensed', sans-serif;

/* Nav Bar */
$navbar-background-color:           #758aa8;
$navbar-font-color:                 #dcdcdc;

/* Page Container */
$page-container-background-color:   #696969;

/* Error Styles */
$error-background-color:            rgba(255, 79, 79, 0.75);

/* New Tweet */

/* Tweet */
$tweet-background-color:            #ffffff;