.login-container {
    margin: 2em;
    padding: 20px;
    background-color: $new-tweet-background-color;
    border: 5px solid #ccc;
    border-radius: 5px;
    display: none;

    h2 {
        margin: 0 0 1em 0;
        border: 1px solid #000;
        border-width: 0 0 1px 0;
        padding-bottom: 15px;
    }

    input {
        padding: 5px;
        width: 100%;
        margin-bottom: 1em;
    }
}