@media (max-width: 765px) {
    
    .page-container {
        width: 100%;
    }

    #nav-bar {
        padding: 0 5px;
    }

    #nav-bar .brand-title {
        font-size: 1em;
        padding: 0 5px;
    }

}